anyio[trio]==4.15.1
django==6.1.1
testrunner-asyncio==1.4.0
testrunner-bdd==8.1.0
testrunner-cov==7.1.0
testrunner-django==4.14.0
testrunner-flakes==4.0.5
testrunner-html==4.2.0
testrunner-mock==3.15.1
testrunner-rerunfailures==16.6.1
testrunner-sugar==1.1.1
testrunner-trio==0.8.0
testrunner-twisted==1.14.3
twisted==26.4.0
testrunner-xvfb==3.1.1
